* {
    font-family: 'Darumadrop One', cursive;
    font-family: 'Montserrat', 'sans-serif';
    font-family: 'Poppins', 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
    font-size: 14px;
    color: #17233D;
    width: 100%;

}

.link-topo {
    margin-right: 36px;
    cursor: pointer;

}

.link-topo1 {
    cursor: pointer;
    margin-right: 36px;
}

.link-topo2 {
    cursor: pointer;
    margin-right: 36px;
}

.link-topo3 {
    cursor: pointer;
    margin-right: 36px;
}

button {
    background: #4CB538;
    width: 124px;
    height: 51px;
    color: #FFFFFF;
    margin-right: 36px;
    cursor: pointer;
}

main {
    display: flex;
    position: relative;
}

.img {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container-rigth {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

h1 {
    font-size: 62px;
    width: auto;
    height: auto;
    color: #161A49;
}

p {
    width: 100%;
    height: 100%;
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

.learn {

    margin-bottom: 5px;
    font-size: 18px;
    color: #6FBF44;
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    main {
        flex-direction: column;
    }

    img {
        width: auto;
        height: auto;
    }

    .container-rigth {
        margin-bottom: 30px;
    }


}

@media screen and (max-width: 800px) {
    button {
        width: 50px;
        font-size: 10px;
        height: 30px;
        margin: 0;
    }

    h1 {
        font-size: 50px;
    }

    header {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0px;
        margin-top: 20px;
        padding: 10px;
    }

    .link-topo {
        margin: 0;
    }

    .link-topo1 {
        margin: 0;
    }

    .link-topo2 {
        margin: 0;
    }

    .link-topo3 {
        margin: 0;
    }
}